In [1]:
# Import Libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import IsolationForest
from sklearn.model_selection import train_test_split
import os
import matplotlib.pyplot as plt

In [2]:
# Load all 317 files into a single DataFrame
# Read the data in chunks
datafolder = 'data/s3Files/'
data_files = os.listdir(datafolder)
df = pd.DataFrame()
for file in data_files:
    # print(file)
    df = pd.concat([df,pd.read_csv(datafolder+file,header=None,sep=',')])
df.drop(columns=[0,4],inplace=True)
df.dropna(inplace=True)
df.columns = ['current_1', 'current_2', 'current_3']

In [3]:
df.describe()

          current_1     current_2     current_3
count  3.170000e+06  3.170000e+06  3.170000e+06
mean   1.983090e+03  2.168260e+03  4.345496e+02
std    1.816999e+02  1.803412e+02  2.729833e+02
min    1.681000e+03  1.863000e+03  0.000000e+00
25%    1.787000e+03  1.977000e+03  1.440000e+02
50%    1.983000e+03  2.169000e+03  4.370000e+02
75%    2.180000e+03  2.360000e+03  7.250000e+02
max    2.292000e+03  2.497000e+03  9.070000e+02

In [4]:
df.reset_index(drop=True,inplace=True)

In [9]:
# BrokenRotorBars = abs(current_1) - abs(current_2)
# BearingFault = abs(current_2) - abs(current_3)
# Eccentricity = abs(current_3) - abs(current_1)

df['BrokenRotorBars'] = abs(df['current_1']) - abs(df['current_2'])
df['BearingFault'] = abs(df['current_2']) - abs(df['current_3'])
df['Eccentricity'] = abs(df['current_3']) - abs(df['current_1'])

In [20]:
df['rms_current'] = np.sqrt(np.square(df['current_1']) + np.square(df['current_2']) + np.square(df['current_3']))/3
df['current_unbalance'] = np.abs((df['current_1'] - df['current_2']) / df['rms_current'])

In [ ]:
# we might need to fft whole dataset since everything follow a signal pattern